.App {
  text-align: center;
}
.Header {
  color: #f9d71c;
  text-shadow: 1px 1px 5px #ffeb7ab0;
  font-family: 'Ranchers', sans-serif;
  font-size: 5rem;
}
/* write your parent styles in here for your App.js */
body {
  color: papayawhip;
}

/* .card-container {
  display: inline;
} */

/* .card {
  border: solid red 3px;
} */

.hr {
  margin-right: 13rem;
}