.App {
  text-align: center;
}
.Header {
  color: #f9d71c;
  text-shadow: 1px 1px 5px #444444;
  font-family: 'Ranchers', sans-serif;
}
/* write your parent styles in here for your App.js */
body {
  color: papayawhip;
}

/* .card {
  border: solid red 3px;
} */